@font-face{
    font-family: Bombardier;
    src: url("../assets/fonts/Bombardier-Regular.ttf") format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Luckiest Guy;
    src: url("../assets/fonts/LuckiestGuy-Regular.ttf") format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}


/* Button Style */
.navbar button {
  --color: #175676;
  background-color: #d4ecf9;
  font-family: bombardier;
  display: inline-block;
  width: 8.5em;
  height: 2.1em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 20px;
  line-height: 5%;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 8px;
  position: relative;
  
}

.navbar button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 230px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.navbar button:hover {
  color: white;
}

.navbar button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.navbar button:hover::before {
  top: -30px;
  left: -30px;
}


.navbar nav{
  text-align: center;
  background-color: #d4ecf9;
}

/* Index page Style */
body{
  text-align: center;
  margin: 0%;
  background-color: #fbcb98;
  font-size: 17px; /* equivalent in % = font-size: 105%; */
  font-family: luckiest guy;
  font-weight: lighter;
}

h1, p{
  font-weight: lighter;
}

.index-main {
  text-align: center;
  margin: 0%;
  background-color: #fbcb98;
  font-size: 17px; /* equivalent in % = font-size: 105%; */
  font-family: luckiest guy;
  font-weight: lighter;
  gap: 15px;

}

.index-content .index-left{
  gap: 20px;
  padding: 100px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: lighter;
  /* aligns the image to the left of the text */
  display: flex;
  justify-content: left;
  padding-left: 13%;
  text-align: left;
}
.index-content .index-left p {
  max-width: 350px;
}

.index-content .index-right{
  gap: 20px;
  padding: 100px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: lighter;
  /* aligns the image to the left of the text */
  justify-content: right;
  padding-right: 13%;
}

.index-content .index-right p {
  max-width: 350px;
  position: relative;
  top: -500px;
  left: 1325px;
  text-align: left;
}

.index-content .index-right .index-txt2 p {
  max-width: 350px;
  position: relative;
  top: -600px;
  left: 1325px;
  text-align: left;
}

/* This removes the underline and replaces blue colour from the mobile button */
a {
  text-decoration: none;
  color: #175676;
}

.index-house1 {
  position: relative;
  left: 400px; /* 1st img side-side */
  top: -300px; /* 1st img up-down */
}

.index-house2 {
  position: relative;
  left: 400px;
  top: -400px;
}

/* Gallery page style */

.gal-content p{
  margin-top: -2px;
  margin-left: 20px;
  max-width: 250px;
}
.gal-content .gal-img1 {
  text-align: left;
  margin-top: 75px;
  margin-left: 100px;
}

.gal-content .gal-img2 {
  text-align: left;
  margin-top: 75px;
  margin-left: 100px;
}

.gal-content .gal-img3 {
  text-align: center;
  margin-top: -600px;
}
.gal-img3 p {
  margin-left: 840px;
}

.gal-content .gal-img4 {
  text-align: right;
  margin-top: -450px;
  margin-right: 400px;
}
.gal-img4 p {
  margin-left: 1237px;
}

.gal-content .gal-img5 {
  text-align: right;
  margin-top: -153px;
  margin-right: 200px;
}
.gal-img5 p {
  text-align: center;
  margin-left: 1550px;
}

.gal-content .gal-img6 {
  text-align: right;
  margin-top: 20px;
  margin-right: 200px;
}
.gal-img6 p {
  text-align: center;
  margin-left: 1339px;
  max-width: 150px;
}

.gal-content .gal-img7 {
  text-align: right;
  margin-top: -173px;
  margin-right: 400px;
}
.gal-img7 p {
  text-align: center;
  margin-left: 1550px;
}

/* Bookings style */
.cal {
  padding: 0;
  margin-top: -450px; /* calendar height */
}
.cal-txt {
  text-align: left;
  margin-top: 100px;
  margin-left: 200px;
  max-width: 250px;
}
.cal-img {
  text-align: right;
  margin-right: 140px;
}

/* Contact styling */
.contact-img-phone {
  margin-top: -100px;
  margin-right: 280px;
}
.contact-txt-phone {
  margin-top: -58px;
  margin-right: 90px;
}


.contact-img-mail {
  text-align: center;
  margin-top: 10px;
  margin-right: 280px;
}
.contact-txt-mail {
  margin-top: -58px;
}

.contact-img {
  text-align: left;
  margin-top: px;
  margin-left: 400px;
}

.contanct-txt p {
  text-align: center;
  margin: auto;
  max-width: 300px;
}
